/* Back-ground of application */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    background-color: #f1f0f0;
    overflow: hidden;
}

.bl {
    border-left: None !important;
}