/* Back-ground of application */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    background-color: #f1f0f0;
    overflow: hidden;
}

.bl {
    border-left: None !important;
}

.customWidth {
    width: 15%;
}

.customWidth2 {
    width: 55%;
}

.customHeight {
    height: 93.5%;
}

.customHeight3 {
    height: 40%;
}

.customHeight4 {
    height: 85%;
}

.customHeight5 {
    height: 95%;
}